<html>
	<head>
		<title>How many Greens?</title>
		<link rel="icon" type="image/x-icon" href="/favicon.ico">
	</head>
	<body>
		{% if name %}
		<p>Hi, <a href="https://www.strava.com/athletes/{{ id }}">{{ name }}</a></p>
		<p>You've done Green {{ greens }} times! Log out and log back in to update your stats.</p>
		{% else %}
		<p><a href='{{ url }}'><img style="vertical-align:middle" src="/media/btn_strava_connectwith_orange.svg" alt="Connect with Strava" /></a> to view how many times you've done Green.</p>
		{% endif %}
		<div id="list">
			{% for person in people %}
			<a href="https://www.strava.com/athletes/{{ person.id }}">{{ person.name }}</a> has done {{ person.greens }} as of {{ person.lastupdate }} day{% if person.lastupdate != 1 %}s{% endif %} ago.<br />
			{% endfor %}
		</div>
		{% if name %}
		<p><a href="/logout">Log Out</a></p>
		{% endif %}
		<div style="width: 250px;"><img src="/media/api_logo_pwrdBy_strava_horiz_light.svg" alt="Powered by Strava" /></div>
		<script defer data-domain="strava.mack.im" src="https://plausible.mack.im/js/plausible.js"></script>
	</body>
</html>